@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    /* Primary */
    --light-cyan:hsl(193, 38%, 86%);
    --neon-green:hsl(150, 100%, 66%);
    /* Neutral */
    --gray-blue:hsl(217, 19%, 38%);
    --dark-gray-blue:hsl(217, 19%, 24%);
    --dark-blue:hsl(218, 23%, 16%);

    font-size: 16px;
}

.attribution {
     font-size: 11px; text-align: center; 
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}

body {
    font-size: 28px;
    font-family: 'Manrope', sans-serif;
    background-color: var(--dark-blue);
}

.container {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    width: auto;
    height: auto;
    background-color: var(--dark-gray-blue);
    text-align: center;
    border-radius: 0.8rem;
    max-width: 30rem;
}

.advice-number {
    color: var(--neon-green);
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.3rem;
    margin-bottom: 1.5rem;
}

.quote {
    color: var(--light-cyan);
    margin-bottom: 1.5rem;
}

.generate-btn {
    background-color: var(--neon-green);
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
    cursor: pointer;
}

.generate-btn:hover {
    transition: background 0.3s ease-in-out;
    background-color: hsl(150, 100%, 50%);
}


.details {
    margin-bottom: 1rem;
}

.details-mobile {
    display: none;
}

@media only screen and (max-width: 500px) {
    .details-mobile {
        display: block;
    }
    .details-desktop {
        display: none;
    }
}